/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.nav-item {
    margin-left: 10px;
}

.main-visual{
 height: 1200px;
 background-image: image-url('business_circle_arms.png');
 background-size: 100% 100%;
}

/* ページネーション */
.pagination>li>a {
  /*枠線をなくす*/
  border: none;
  /*文字の色変更*/
  color: #696969;   
}

/*表示しているページ番号のデザイン*/
.pagination>.active>a {
   /*背景の色を変更*/
  background: #e3f2fd;
  /*丸くする*/
  border-radius: 15px;     
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
   /*丸くする*/
  border-radius: 15px;   
}
